body{
    background-color:#bdd4d8 !important;        
}

#resultado h5{
    background-color: #bcdb5d;
    padding: 10px;
    margin: 10px 0;

}

#resultado span{
    color: #272e2f;
    font-weight: bold;
}

.h5-chico{
    font-size: 0.9rem;
}